/* CONTAINER GERAL */
.entrada-container {
  width: 1270px;
  height: 590px;
  background: white;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  font-family: "Poppins", sans-serif;
}

/* LADO ESQUERDO */
.entrada-left {
  width: 50%;
  padding: 40px;
  background: #fff;
  position: relative;
}

/* BOTÃO VOLTAR */
.entrada-back-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #7b1fa2;
}

.back-arrow {
  font-size: 32px;
  font-weight: 300;
}

/* CONTEÚDO */
.entrada-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  max-width: 320px;
}

.entrada-title {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 30px;
  color:#000
}

.entrada-label {
  font-size: 12px;
  margin-bottom: 6px;
  color: #333;
}

.entrada-input {
  width: 100%;
  height: 60px;
  background: #e9e9e9;
  border: none;
  border-radius: 12px;
  padding-left: 12px;
  font-size: 15px;
}

.entrada-hour {
  margin-top: 30px;
  font-size: 15px;
  color: #000;
  align-items: center;
}

/* BOTÃO */
.entrada-confirm-btn {
  width: 220px;
  height: 50px;
  margin-top: 25px;
  background: #642492;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

/* LADO DIREITO */
.entrada-right {
 width: 60%;
  background: linear-gradient(135deg, #8a2be2, #4b0082);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

/* LOGO */
.entrada-logo {
    width: 60%;
  z-index: 2;
  opacity: 0.65;
}

/* A Bendita dessa FAIXA DIAGONAL */
.entrada-right::before {
  width: 55%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #b300ff, #4a0072);
  display: flex;
  align-items: center;
  justify-content: center;
}
