/* ============================
   CONTAINER GERAL
=============================== */
.fat-container {
   width: 100vw;
  height: 100vh;
  display: flex;
  background: white;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* ============================
   LADO ESQUERDO
=============================== */
.fat-left {
  width: 45%;
  padding: 35px 45px;
  position: relative;
}

/* Botão voltar */
.fat-back-btn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #9d00ff;
}

/* Conteúdo interno */
.fat-content {
  margin-top: 20px;
}

.fat-title {
  text-align: center;
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: 600;
}

/* ============================
   FILTROS
=============================== */
.fat-filter-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.fat-date-box {
  background: #9d00ff;
  padding: 10px 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.fat-date-box span {
  font-size: 14px;
  font-weight: 500;
}

.fat-icon {
  font-size: 14px;
  opacity: 0.8;
}

.fat-filter-btn {
  background: #9d00ff;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.fat-filter-btn:hover {
  background: #9d00ff;
}

/* ============================
   TOTAL / MÉDIA
=============================== */
.fat-info-row {
  display:flex;
  gap: 20px;
  margin-bottom: 35px;
}

.fat-info-box {
  background: #9d00ff;
  width: 150px;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
}

.fat-info-title {
  font-size: 14px;
  opacity: 0.8;
}

.fat-info-value {
  margin-top: 5px;
  font-weight: 700;
  font-size: 18px;
}

/* ============================
   TABELA — IGUAL À IMAGEM
=============================== */
.fat-table {
  width: 100%;
  border-collapse: separate;
  border-spacing:  18px; 
}

.fat-table th {
  text-align: left;
  font-weight: 600;
  font-size: 10px;
  padding-bottom: 5px;
}

.fat-table td {
  padding: 10px ;
  font-size: 24px;
  color: #000000;
  position: relative;
}

/* linha cinza curta embaixo de cada linha — igual ao mockup */
.fat-table tbody tr td:last-child::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 12px;
  width: 85px;
  height: 5px;
  background: #A393A9;
  border-radius: 4px;
}

/* ============================
   LADO DIREITO
=============================== */
.fat-right {
 width: 60%;
  background: linear-gradient(135deg, #6a00b8, #b600ff);;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

/* Logo central */
.right-logo {
  width: 55%;
  opacity: 0.9;
}
