.BemVindo-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #8a2be2, #4b0082);
  display: flex;
  padding: 40px;
  box-sizing: border-box;
}

.BemVindo-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-left: 40px;
}

.BemVindo-text {
  font-size: 52px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 80px;
}

.BemVindo-bar {
  width: 100%;
  height: 7px;
  background-color: white;
  border-radius: 10px;
}

.BemVindo-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-logo {
  width: 450px;
  opacity: 0.9;
}
