/* CONTAINER GERAL */
.saida-container {
  width: 1270px;
  height: 590px;
  background: white;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  font-family: "Poppins", sans-serif;
}

/* LADO ESQUERDO */
.saida-left {
   width: 45%;
  background: white;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* BOTÃO VOLTAR */
.saida-back-btn {
 background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: rgb(162, 11, 232);
}

.back-arrow {
  font-size: 32px;
  font-weight: 300;
}

/* CONTEÚDO */
.saida-content {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 18px;
}

.saida-title {
  font-size: 32px;
  font-weight: 600;
}

.saida-label {
  font-size: 15px;
  margin-top: 10px;
  color: #444;
}

.saida-input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: #c7c5c5;
  padding-left: 10px;
  font-size: 15px;
}

/* TEMPO */
.saida-time-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c7c5c5;
  border-radius: 20px;
  height: 60px;
  padding: 0 20px;
}

.time-text {
  font-size: 15px;
}

.time-divider {
  flex: 1;
  height: 2px;
  margin: 0 10px;
  background: black;
}

/* PREÇO */
.saida-price {
  font-size: 32px;
  font-weight: 600;
  margin-top: 10px;
  color: black;
  text-align: left;
}

/* BOTÃO */
.saida-confirm-btn {
  width: 200px;
  height: 45px;
  background: #d400ff;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

/* LADO DIREITO */
.saida-right {
  width: 60%;
  background: linear-gradient(135deg, #6a00b8, #b600ff);;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

/* LOGO */
.saida-logo {
  width: 60%;
  z-index: 2;
  opacity: 0.65;
}

/* FAIXA DIAGONAL*/
.saida-right::before {
  width: 55%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #b300ff, #4a0072);
  display: flex;
  align-items: center;
  justify-content: center;
}
