/*CONTAINER PRINCIPAL*/
.home-container {
   width: 100vw;
  height: 100vh;
  display: flex;
  background: #ffffff;
}

/*LADO ESQUERDO*/
.home-left {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*GRID */
.home-grid {
  width: 450px;
  display: grid;
  grid-template-columns: repeat(2, 180px);
  grid-auto-rows: 160px;
  gap: 25px;
}

/*CARDS*/
.home-card {
  background: #e6e6e6;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(109, 7, 177, 0.253);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home-card:hover {
  transform: scale(1.03);
}

/*CARD (HISTÓRICO)*/
.home-wide {
  grid-column: span 2;
  height: 90px;

  flex-direction: row;
  justify-content: flex-start;

  padding-left: 25px;
  gap: 25px;
}

/*ÍCONES*/
.home-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 12px;
}

.home-wide .home-icon {
  width: 55px;
  height: 55px;
  margin-bottom: 0;
}

/*TEXTO*/
.home-card span {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

/*LADO DIREITO*/
.home-right {
  width: 60%;
  background: linear-gradient(135deg, #6a00b8, #b600ff);;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

/*LOGO*/
.home-logo {
  width: 55%;
  opacity: 0.9;
}