/* CONTAINER PRINCIPAL */
.welcome-container {
   width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

/* LADO ESQUERDO */
.welcome-left {
  width: 50%;
  background: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-left {
  width: 120px;
  margin-bottom: 40px;
}

.welcome-title {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #000;
}

/* BOTÕES */
.btn-login {
  width: 65%;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background: #dcdcdc;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}

.or-text {
  margin: 25px 0 15px 0;
  font-size: 16px;
  font-weight: 500;
}

.btn-register {
  width: 65%;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background: #8a2be2;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/* LADO DIREITO */
.welcome-right {
  width: 50%;
  position: relative;
   background: linear-gradient(to bottom right, #671bae, #671bae);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-right {
  width: 380px;
  opacity: 0.9;
  position: relative;
  z-index: 2;
}

/* Faixa diagonal roxa escura */
.welcome-diagonal {
  position: absolute;
  left: -80px;
  width: 180px;
  height: 100%;
  background: linear-gradient(to bottom, #671bae, #671bae);
  transform: skewX(-15deg);
  z-index: 1;
}
