/* Container geral */
.register-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #ffffff;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* Lado esquerdo */
.register-left {
  width: 40%;
  padding: 40px;
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
}

/* Botão de voltar */
.back-button {
  border: none;
  background: transparent;
  font-size: 28px;
  color: #531c7d;
  cursor: pointer;
  margin-bottom: 40px;
  text-align: right;
}

/* Caixa de formulário */
.form-box {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

label {
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: 5px;
  color: #4a4a4a;
  font-weight: 500;
}


/* Inputs arredondados */
.input-field {
  width: 90%;
  height: 45px;
  border-radius: 30px;
  border: none;
  background: #e6e6e6;
  padding: 0 20px;
  font-size: 15px;
  margin-bottom: 25px;
}

/* Botão confirmar */
.confirm-btn {
  width: 55%;
  height: 45px;
  background: #4d187f;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.2s;
}

.confirm-btn:hover {
  background: #58218c;
}

/* Lado direito com o degradê */
.register-right {
  width: 60%;
  background: linear-gradient(135deg, #8a2be2, #4b0082);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
}

/* Logo central */
.right-logo {
  width: 55%;
  opacity: 0.9;
}
